/* relevance view */

.relevance-container {
  column-count: 5;
  column-gap: 1rem;
}

.file-container{
  break-inside: avoid;
  margin-bottom: 1rem;
  background: #eee;
  padding: 1rem;
}

.line-relevance{
  height:5px;
  font-size: 5px;
  line-height: 5px;
  overflow: hidden;
}

.small-heading{ 
  max-width: 100%;
  word-wrap: break-word;     /* old but widely supported */
  overflow-wrap: break-word; /* preferred modern form */
  word-break: break-word;    /* optional for extra stubborn cases */
}

.big-heading{
  max-width: 100%;
  word-wrap: break-word;     /* old but widely supported */
  overflow-wrap: break-word; /* preferred modern form */
  word-break: break-word;    /* optional for extra stubborn cases */
}